.wrapper {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.boutonAjout {
    margin: 20px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.icones {
    text-align: center;
}

