<article>
    <form class="form" *ngIf="uneBiere.id_biere == id; else attente"  [formGroup]="formModif">
        <mat-form-field class="full-width">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Brasserie</mat-label>
            <input matInput formControlName="brasserie"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"
            [errorStateMatcher]="matcher"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Image</mat-label>
            <input matInput formControlName="image"
            [errorStateMatcher]="matcher">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!formModif.dirty || !formModif.valid" (click)="modifier()">Modifier</button> | 
        <a routerLink="/" mat-raised-button color="accent">Annuler</a> | 
        <button mat-raised-button color="warn" (click)="openDialog(uneBiere)">Supprimer</button>
    </form>
</article>
<ng-template #attente>
    <article>
        Données en chargement...
    </article>
</ng-template>